.container {
    position:fixed;
}

.bgImage {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../public/assets/2.png');
    height: 100%;
    width: 100%;
    position: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -10;
}

.bg {
    background: #8FA0A7;
    height: 200%;
    width: 100%;
    position: fixed;
}

.meshBox {
    margin-top: -127.5rem;
}

.mesh {
}

.imageGradient {
    background: linear-gradient(180deg, #0E1219 0%, rgba(14, 18, 25, 0) 15.75%, rgba(14, 18, 25, 0) 83.99%, #0E1219 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 50%;
}

.bgGradient {
    background: linear-gradient(180deg, rgba(14, 18, 25, 0) 0%, #0E1219 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 50%;
}

.title {
    position: fixed;
    color: #F7F7F7;
    margin-top: 5.688rem;
    margin-left: 3.625rem;
    z-index: 2;

    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 90%;

    text-transform: uppercase;
}

.bottomText {
    position: fixed;
    color: #F7F7F7;
    margin-top: 50rem;
    margin-left: 66.25rem;
    z-index: 2;

    text-align: right;

    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 90%;

    text-transform: uppercase;
}

.articleDiv {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../public/assets/2.png');
    background-size: cover;
    position: fixed;
    height: 58%;
    width: 62%;
    z-index: 1;

    margin-left: 22.688rem;
    margin-top: 13.438rem;
    display: block;
}


.hero {
    width: 45rem;
    margin-top: 8rem;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #F7F7F7;
    text-align: center;
    margin-left: 15.5rem;
}

.article1 {
    width: 18rem;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: right;

    color: #F7F7F7;
    margin-right: 10px;
}

.article2 {
    width: 18rem;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #F7F7F7;
    margin-left: 10px;
}

.articleGrid {
    margin-top: 2.65rem;
    display: flex;
    justify-content:center;
}

.button {
    width: 20rem;
    height: 6.625rem;
    margin-top: 477px;
    margin-left: 1396px;

    box-sizing: border-box;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #F7F7F7;
    position: fixed;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
}

.buttonBottom {
    width: 20rem;
    height: 6.625rem;
    margin-top: 98%;
    margin-left: 4%;

    box-sizing: border-box;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #F7F7F7;
    position: fixed;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
}

.butotn:hover {
    color: white;
}

.buttonFont {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* or 100% */
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.secondTitle {
    position: fixed;
    color: #F7F7F7;
    margin-top: 60.5%;
    margin-left: 4rem;
    z-index: 2;

    text-align: left;

    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 90%;

    text-transform: uppercase;

}


